fastapi
uvicorn
google-cloud-speech
python-dotenv
langchain-openai
langchain-teddynote
langchain-core
langchain-chroma
aiomysql
websockets
langchain-embeddings
python-docx
langchain_community
python-multipart